Repository mateuszwisniewski/Videooo: changes, and which Codecov flags are due for each by the changed paths.
All: app, core

.codecov.yml:

coverage:
  range: 50..75
  round: nearest
  precision: 2
  status:
    project:
      default: off
      app:
        enabled: true
        target: auto
        flags: app
      core:
        enabled: true
        target: auto
        flags: core

flags:
  app:
    paths:
      - app/src/
  core:
    paths:
      - core/src/

Update Kotlin plugin version
  build.gradle
Due: none

Convert LoginActivity from MVP to basic MVVM implementation
  app/build.gradle
  app/src/main/kotlin/com/wisnia/videooo/dependency/factory/ViewModelClass.kt
  app/src/main/kotlin/com/wisnia/videooo/dependency/factory/ViewModelFactory.kt
  app/src/main/kotlin/com/wisnia/videooo/dependency/factory/ViewModelModule.kt
  app/src/main/kotlin/com/wisnia/videooo/dependency/modules/ApiRepositoryModule.kt
  app/src/main/kotlin/com/wisnia/videooo/dependency/modules/ApplicationModule.kt
  app/src/main/kotlin/com/wisnia/videooo/extension/TextInputLayoutExtension.kt
  app/src/main/kotlin/com/wisnia/videooo/login/LoginActivity.kt
  app/src/main/kotlin/com/wisnia/videooo/login/presentation/LoginType.kt
  app/src/main/kotlin/com/wisnia/videooo/login/presentation/LoginViewModel.kt
  app/src/main/res/layout/activity_login.xml
  app/src/test/kotlin/com/wisnia/videooo/network/interceptor/ApiKeyInterceptorTest.kt
  build.gradle
  core/src/main/kotlin/com/wisnia/videooo/authentication/presentation/LoginPresenter.kt
  core/src/main/kotlin/com/wisnia/videooo/extension/StringExtension.kt
  core/src/test/kotlin/com/wisnia/videooo/authentication/permission/PermissionInterceptorTest.kt
Due: app, core

Update plugins & dependencies
  .travis.yml
  app/build.gradle
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Due: none

Fix lint issues
  app/src/main/res/values/dimens.xml
Due: app

Disable travis email notifications
  .travis.yml
Due: none

Add binding extension
  app/build.gradle
  app/src/main/kotlin/com/wisnia/videooo/login/BindingExtension.kt
  app/src/main/kotlin/com/wisnia/videooo/login/LoginActivity.kt
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Due: app

Remove MVP approach
  app/src/main/java/com/wisnia/videooo/authentication/AuthenticationActivity.kt
  app/src/main/java/com/wisnia/videooo/authentication/permission/LoginView.kt
  app/src/main/java/com/wisnia/videooo/dependency/scope/Presenter.kt
  app/src/main/java/com/wisnia/videooo/mvp/BasePresenter.kt
  app/src/main/java/com/wisnia/videooo/mvp/EmptyPresenter.kt
  app/src/main/java/com/wisnia/videooo/mvp/PresentationActivity.kt
  app/src/main/java/com/wisnia/videooo/mvp/Presenter.kt
  app/src/main/java/com/wisnia/videooo/mvp/View.kt
  app/src/main/java/com/wisnia/videooo/splashscreen/SplashScreenActivity.kt
  app/src/main/java/com/wisnia/videooo/splashscreen/SplashScreenPresenter.kt
  app/src/main/java/com/wisnia/videooo/splashscreen/SplashScreenView.kt
Due: app

Update Dagger ApplicationComponent structure
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/wisnia/videooo/VideoooApplication.kt
  app/src/main/java/com/wisnia/videooo/application/VideoooApplication.kt
  app/src/main/java/com/wisnia/videooo/application/di/ApplicationComponent.kt
  app/src/main/java/com/wisnia/videooo/application/di/ApplicationModule.kt
  app/src/main/java/com/wisnia/videooo/dependency/components/ApplicationComponent.kt
  app/src/main/java/com/wisnia/videooo/dependency/modules/ApplicationModule.kt
Due: app

Add gradle.properties file
  .gitignore
  gradle.properties
Due: none

Update ktlint and fix issues
  app/src/main/java/com/wisnia/videooo/authentication/permission/PermissionUrl.kt
  app/src/main/java/com/wisnia/videooo/network/OkHttpClientProvider.kt
  data/build.gradle
  dependencies.gradle
  domain/build.gradle
  domain/src/main/java/com/wisnia/domain/account/model/AccountDetailsModel.kt
  quality/ktlint.gradle
Due: app

Update and improve unit tests
  app/build.gradle
  app/src/test/java/com/wisnia/videooo/network/interceptor/ApiKeyInterceptorTest.kt
  app/src/test/java/com/wisnia/videooo/repository/token/AuthenticationHeaderExtractorTest.kt
  app/src/test/kotlin/com/wisnia/videooo/network/interceptor/ApiKeyInterceptorTest.kt
  app/src/test/kotlin/com/wisnia/videooo/repository/token/AuthenticationHeaderExtractorTest.kt
  dependencies.gradle
Due: app

Improve Splashscreen implementation and DI structure
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/wisnia/videooo/application/di/ApplicationComponent.kt
  app/src/main/java/com/wisnia/videooo/application/di/scope/Scope.kt
  app/src/main/java/com/wisnia/videooo/common/extensions/ActivityExtension.kt
  app/src/main/java/com/wisnia/videooo/common/navigator/Navigator.kt
  app/src/main/java/com/wisnia/videooo/common/viewmodel/LifecycleViewModel.kt
  app/src/main/java/com/wisnia/videooo/dependency/factory/ViewModelClass.kt
  app/src/main/java/com/wisnia/videooo/dependency/factory/ViewModelFactory.kt
  app/src/main/java/com/wisnia/videooo/dependency/factory/ViewModelModule.kt
  app/src/main/java/com/wisnia/videooo/dependency/modules/AndroidBindingModule.kt
  app/src/main/java/com/wisnia/videooo/splashscreen/SplashScreenActivity.kt
  app/src/main/java/com/wisnia/videooo/splashscreen/di/SplashScreenBinder.kt
  app/src/main/java/com/wisnia/videooo/splashscreen/di/SplashScreenModule.kt
  app/src/main/java/com/wisnia/videooo/splashscreen/navigator/SplashScreenEvent.kt
  app/src/main/java/com/wisnia/videooo/splashscreen/navigator/SplashScreenNavigator.kt
  app/src/main/java/com/wisnia/videooo/splashscreen/view/SplashScreenActivity.kt
  app/src/main/java/com/wisnia/videooo/splashscreen/viewmodel/SplashScreenViewModel.kt
  app/src/test/java/com/wisnia/videooo/splashscreen/viewmodel/SplashScreenViewModelTest.kt
Due: app

Improve Authentication process and navigation
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/wisnia/videooo/authentication/model/PermissionInterceptor.kt
  app/src/main/java/com/wisnia/videooo/authentication/model/PermissionState.kt
  app/src/main/java/com/wisnia/videooo/authentication/model/PermissionUrl.kt
  app/src/main/java/com/wisnia/videooo/authentication/view/AuthenticationActivity.kt
  app/src/main/java/com/wisnia/videooo/authentication/view/AuthenticationWebViewClient.kt
  app/src/main/java/com/wisnia/videooo/common/navigator/Navigator.kt
  app/src/main/java/com/wisnia/videooo/login/di/LoginModule.kt
  app/src/main/java/com/wisnia/videooo/login/model/LoginType.kt
  app/src/main/java/com/wisnia/videooo/login/navigation/LoginEvent.kt
  app/src/main/java/com/wisnia/videooo/login/navigation/LoginNavigator.kt
  app/src/main/java/com/wisnia/videooo/login/view/LoginActivity.kt
  app/src/main/java/com/wisnia/videooo/login/viewmodel/LoginViewModel.kt
  build.gradle
  data/build.gradle
  dependencies.gradle
  domain/build.gradle
Due: app

Add Main and Movies screens
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/wisnia/videooo/application/di/ApplicationComponent.kt
  app/src/main/java/com/wisnia/videooo/common/extensions/FragmentExtension.kt
  app/src/main/java/com/wisnia/videooo/login/navigation/LoginEvent.kt
  app/src/main/java/com/wisnia/videooo/login/navigation/LoginNavigator.kt
  app/src/main/java/com/wisnia/videooo/login/viewmodel/LoginViewModel.kt
  app/src/main/java/com/wisnia/videooo/main/di/MainBinder.kt
  app/src/main/java/com/wisnia/videooo/main/di/MainModule.kt
  app/src/main/java/com/wisnia/videooo/main/view/MainActivity.kt
  app/src/main/java/com/wisnia/videooo/movies/di/MoviesBinder.kt
  app/src/main/java/com/wisnia/videooo/movies/di/MoviesModule.kt
  app/src/main/java/com/wisnia/videooo/movies/view/MoviesFragment.kt
  app/src/main/java/com/wisnia/videooo/movies/viewmodel/MoviesViewModel.kt
  app/src/main/res/layout/actvity_main.xml
  app/src/main/res/layout/fragment_movies.xml
  app/src/main/res/navigation/main_nav_graph.xml
  data/build.gradle
  dependencies.gradle
  gradle.properties
Due: app

Add Configuration api & repository
  data/src/main/java/com/wisnia/data/configuration/api/ConfigurationApi.kt
  data/src/main/java/com/wisnia/data/configuration/repository/ConfigurationDataRepository.kt
  domain/src/main/java/com/wisnia/domain/configuration/model/Configuration.kt
  domain/src/main/java/com/wisnia/domain/configuration/repository/ConfigurationRepository.kt
Due: none

Add Movie api & repository
  data/src/main/java/com/wisnia/data/movie/api/MovieApi.kt
  data/src/main/java/com/wisnia/data/movie/repository/MovieDataRepository.kt
  domain/src/main/java/com/wisnia/domain/movie/model/Movie.kt
  domain/src/main/java/com/wisnia/domain/movie/repository/MovieRepository.kt
Due: none

Add onClick on movies list
  app/src/main/java/com/wisnia/videooo/movies/adapter/PopularMoviesAdapter.kt
  app/src/main/java/com/wisnia/videooo/movies/di/MoviesModule.kt
  app/src/main/java/com/wisnia/videooo/movies/viewmodel/MovieItemViewModel.kt
  app/src/main/res/layout/item_popular_movie.xml
  dependencies.gradle
  domain/build.gradle
  domain/src/test/kotlin/com/wisnia/domain/movie/usecase/GetPopularMoviesUseCaseTest.kt
Due: app

Add poster image to movies list
  app/build.gradle
  app/src/main/java/com/wisnia/videooo/common/binding/ImageViewBindingAdapter.kt
  app/src/main/java/com/wisnia/videooo/movies/di/MoviesModule.kt
  app/src/main/res/layout/item_popular_movie.xml
  data/src/main/java/com/wisnia/data/configuration/model/Configuration.kt
  data/src/main/java/com/wisnia/data/configuration/model/image/PosterSizes.kt
  data/src/main/java/com/wisnia/data/movie/model/Movie.kt
  data/src/main/java/com/wisnia/data/movie/repository/MovieDataRepository.kt
  dependencies.gradle
  domain/src/main/java/com/wisnia/domain/configuration/model/ConfigurationModel.kt
  domain/src/main/java/com/wisnia/domain/configuration/model/image/PosterSizesModel.kt
  domain/src/main/java/com/wisnia/domain/movie/repository/MovieRepository.kt
  domain/src/main/java/com/wisnia/domain/movie/usecase/GetPopularMoviesUseCase.kt
Due: app

Add domain unit tests
  app/src/main/res/drawable/ic_image.xml
  app/src/main/res/layout/item_popular_movie.xml
  data/build.gradle
  data/src/main/java/com/wisnia/data/configuration/api/ConfigurationApi.kt
  data/src/main/java/com/wisnia/data/configuration/model/Configuration.kt
  data/src/main/java/com/wisnia/data/configuration/repository/ConfigurationDataRepository.kt
  data/src/main/java/com/wisnia/data/movie/model/Movie.kt
  data/src/test/java/com/wisnia/data/ExampleUnitTest.java
  data/src/test/kotlin/com/wisnia/data/configuration/model/ConfigurationTest.kt
  data/src/test/kotlin/com/wisnia/data/configuration/model/image/PosterSizesTest.kt
  data/src/test/kotlin/com/wisnia/data/configuration/repository/ConfigurationDataRepositoryTest.kt
  data/src/test/kotlin/com/wisnia/data/movie/model/MovieTest.kt
  data/src/test/kotlin/com/wisnia/data/movie/repository/MovieDataRepositoryTest.kt
  dependencies.gradle
  domain/src/main/java/com/wisnia/domain/configuration/model/ConfigurationModel.kt
  domain/src/main/java/com/wisnia/domain/configuration/repository/ConfigurationRepository.kt
  domain/src/main/java/com/wisnia/domain/movie/model/MovieModel.kt
  domain/src/main/java/com/wisnia/domain/movie/usecase/GetPopularMoviesUseCase.kt
  domain/src/test/kotlin/com/wisnia/domain/movie/usecase/GetPopularMoviesUseCaseTest.kt
Due: app

Remove unused layouts
  app/src/main/res/layout-land/layout_login_form.xml
  app/src/main/res/layout/layout_login_form.xml
Due: app

Add scrolling option to movie detail screen
  app/src/main/res/layout/fragment_movie_details.xml
Due: app

Add model mapping to UI & model rename
  app/src/main/java/com/wisnia/videooo/movies/details/model/MovieDetails.kt
  app/src/main/java/com/wisnia/videooo/movies/details/viewmodel/MovieDetailsViewModel.kt
  app/src/main/java/com/wisnia/videooo/movies/main/model/Movie.kt
  app/src/main/java/com/wisnia/videooo/movies/main/viewmodel/MoviesViewModel.kt
  app/src/main/res/layout/item_popular_movie.xml
  app/src/test/java/com/wisnia/videooo/movies/details/model/MovieDetailsTest.kt
  app/src/test/java/com/wisnia/videooo/movies/main/model/MovieTest.kt
  app/src/test/java/com/wisnia/videooo/repository/token/AuthenticationHeaderExtractorTest.kt
  data/src/main/java/com/wisnia/data/account/api/AccountDetailsApi.kt
  data/src/main/java/com/wisnia/data/account/model/AccountDetailsEntity.kt
  data/src/main/java/com/wisnia/data/authentication/api/LoginApi.kt
  data/src/main/java/com/wisnia/data/authentication/api/SessionApi.kt
  data/src/main/java/com/wisnia/data/authentication/api/TokenApi.kt
  data/src/main/java/com/wisnia/data/authentication/model/GuestSessionEntity.kt
  data/src/main/java/com/wisnia/data/authentication/model/SessionEntity.kt
  data/src/main/java/com/wisnia/data/authentication/model/TokenEntity.kt
  data/src/main/java/com/wisnia/data/authentication/repository/token/AuthenticationHeaderInterceptor.kt
  data/src/main/java/com/wisnia/data/configuration/api/ConfigurationApi.kt
  data/src/main/java/com/wisnia/data/configuration/model/ConfigurationEntity.kt
  data/src/main/java/com/wisnia/data/configuration/model/image/PosterSizes.kt
  data/src/main/java/com/wisnia/data/configuration/model/image/PosterSizesEntity.kt
  data/src/main/java/com/wisnia/data/movie/details/api/MovieDetailsApi.kt
  data/src/main/java/com/wisnia/data/movie/details/model/MovieDetailsEntity.kt
  data/src/main/java/com/wisnia/data/movie/main/api/MovieApi.kt
  data/src/main/java/com/wisnia/data/movie/main/model/MovieEntity.kt
Due: app

Add test for MoviesViewModel
  app/build.gradle
  app/src/main/java/com/wisnia/videooo/common/scheduler/RxScheduler.kt
  app/src/main/java/com/wisnia/videooo/login/viewmodel/LoginViewModel.kt
  app/src/main/java/com/wisnia/videooo/movies/details/viewmodel/MovieDetailsViewModel.kt
  app/src/main/java/com/wisnia/videooo/movies/main/viewmodel/MoviesViewModel.kt
  app/src/test/java/com/wisnia/videooo/LiveDataTest.kt
  app/src/test/java/com/wisnia/videooo/TestRxScheduler.kt
  app/src/test/java/com/wisnia/videooo/movies/main/viewmodel/MoviesViewModelTest.kt
  dependencies.gradle
Due: app

Update dependencies and reformat code with ktlint rules
  data/src/test/java/com/wisnia/data/configuration/model/image/PosterSizesTest.kt
Due: none

Improve navigation implementation
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/wisnia/videooo/login/di/LoginBinder.kt
  app/src/main/java/com/wisnia/videooo/login/di/LoginModule.kt
  app/src/main/java/com/wisnia/videooo/login/navigation/LoginNavigator.kt
  app/src/main/java/com/wisnia/videooo/login/view/LoginFragment.kt
  app/src/main/java/com/wisnia/videooo/main/di/MainModule.kt
  app/src/main/java/com/wisnia/videooo/main/navigation/ToolbarNavController.kt
  app/src/main/java/com/wisnia/videooo/main/view/MainActivity.kt
  app/src/main/java/com/wisnia/videooo/splashscreen/navigator/SplashScreenNavigator.kt
  app/src/main/res/layout/fragment_login.xml
  app/src/main/res/layout/fragment_movies.xml
  app/src/main/res/layout/item_popular_movie.xml
  app/src/main/res/navigation/main_nav_graph.xml
  app/src/main/res/values/themes.xml
  dependencies.gradle
Due: app

Introduce Toolbar navigation controller
  app/build.gradle
  app/src/main/java/com/wisnia/videooo/main/di/MainModule.kt
  app/src/main/java/com/wisnia/videooo/main/navigation/ToolbarNavController.kt
  app/src/main/java/com/wisnia/videooo/main/view/MainActivity.kt
Due: app

Update gradle & kotlin dependencies
  dependencies.gradle
  gradle/wrapper/gradle-wrapper.properties
Due: none

Introduce Kotlin DSL approach
  app/build.gradle
  app/build.gradle.kts
  app/src/main/java/com/wisnia/videooo/authentication/view/AuthenticationActivity.kt
  build.gradle
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/java/Android.kt
  buildSrc/src/main/java/Dependency.kt
  buildSrc/src/main/java/Properties.kt
  buildSrc/src/main/java/Version.kt
  data/build.gradle
  data/build.gradle.kts
  data/src/main/java/com/wisnia/data/network/NetworkProvider.kt
  data/src/main/java/com/wisnia/data/network/RetrofitProvider.kt
  dependencies.gradle
  domain/build.gradle
  domain/build.gradle.kts
  quality/ktlint.gradle
  quality/ktlint.gradle.kts
  settings.gradle
  settings.gradle.kts
Due: app

Remove JaCoCo support
  app/build.gradle.kts
  buildSrc/src/main/java/Dependency.kt
  buildSrc/src/main/java/Properties.kt
  quality/jacoco.gradle
Due: none

Add .circleci/config.yml
  .circleci/config.yml
Due: none

Fix project properties loading
  .travis.yml
  app/build.gradle.kts
  buildSrc/src/main/java/Dependency.kt
  buildSrc/src/main/java/Properties.kt
  buildSrc/src/main/java/Property.kt
  data/build.gradle.kts
  secure/template_keystore.properties
  secure/template_tmdb.properties
Due: none

Improve CircleCI config.yml file
  .circleci/config.yml
Due: none

Upload CodeCov coverage with CircleCI
  .circleci/config.yml
Due: none
