Repository mateuszwisniewski/Videooo: changes, and which Codecov flags are due for each by the changed paths.
All: app, core

Add CheckStyle plugin + Fix CheckStyle errors
  app/build.gradle
  app/src/androidTest/java/com/wisnia/videooo/ExampleInstrumentedTest.java
  app/src/test/java/com/wisnia/videooo/ExampleJavaUnitTest.java
  checkstyle.gradle
  config/checkstyle.xml
  core/build.gradle
  core/src/test/kotlin/com/wisnia/videooo/ExampleKotlinUnitTest.kt
Due: app, core

Improve Checkstyle and Lint tools and add PMD tool.
  app/build.gradle
  build.gradle
  checkstyle.gradle
  config/checkstyle.xml
  config/quality/checkstyle/checkstyle.xml
  config/quality/checkstyle/suppressions.xml
  config/quality/lint.xml
  config/quality/pmd.xml
  core/.gitignore
  core/build.gradle
  quality.gradle
Due: none

Test CodeCov coverage
  core/src/main/kotlin/com/wisnia/videooo/Example1.kt
Due: core

Improve JaCoCo integration.
  .travis.yml
  app/build.gradle
  app/jacoco.gradle
  build.gradle
  core/build.gradle
  jacoco.gradle
Due: none

Add basic MVP implementation
  core/src/main/kotlin/com/wisnia/videooo/mvp/BasePresenter.kt
  core/src/main/kotlin/com/wisnia/videooo/mvp/Presenter.kt
  core/src/main/kotlin/com/wisnia/videooo/mvp/View.kt
Due: core

Remove unused Example class
  core/src/main/kotlin/com/wisnia/videooo/Example1.kt
Due: core

Update Kotlin dependencies
  build.gradle
  core/build.gradle
Due: none

Update CodeCov badges with modules separation
  README.md
Due: none

Add basic REST layer with dependency injection implementation
  app/build.gradle
  app/src/androidTest/java/com/wisnia/videooo/ExampleInstrumentedTest.java
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/wisnia/videooo/ExampleJavaClass.java
  app/src/main/kotlin/com/wisnia/videooo/VideoooApplication.kt
  app/src/main/kotlin/com/wisnia/videooo/dependency/components/ApplicationComponent.kt
  app/src/main/kotlin/com/wisnia/videooo/dependency/modules/ApplicationModule.kt
  app/src/main/kotlin/com/wisnia/videooo/dependency/modules/HttpModule.kt
  app/src/main/kotlin/com/wisnia/videooo/network/HttpServiceProvider.kt
  app/src/main/kotlin/com/wisnia/videooo/network/OkHttpClientProvider.kt
  app/src/main/kotlin/com/wisnia/videooo/network/RetrofitServiceProvider.kt
  app/src/main/kotlin/com/wisnia/videooo/network/interceptor/ApiKeyInterceptor.kt
  app/src/main/kotlin/com/wisnia/videooo/network/interceptor/ApiKeyNotFoundException.kt
  app/src/main/kotlin/com/wisnia/videooo/network/interceptor/Interceptors.kt
  app/src/test/java/com/wisnia/videooo/ExampleJavaUnitTest.java
  app/src/test/kotlin/com/wisnia/videooo/network/interceptor/ApiKeyInterceptorTest.kt
  app/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
  build.gradle
  core/build.gradle
  core/src/main/kotlin/com/wisnia/videooo/network/Timeout.kt
Due: app, core

Add basic API requests and data classes.
  app/src/main/kotlin/com/wisnia/videooo/dependency/modules/HttpModule.kt
  app/src/main/kotlin/com/wisnia/videooo/network/OkHttpClientProvider.kt
  app/src/main/kotlin/com/wisnia/videooo/network/rest/account/RestAccountDetailsRepository.kt
  app/src/main/kotlin/com/wisnia/videooo/network/rest/authentication/RestSessionRepository.kt
  app/src/main/kotlin/com/wisnia/videooo/network/rest/authentication/RestTokenRepository.kt
  core/src/main/kotlin/com/wisnia/videooo/data/account/AccountDetails.kt
  core/src/main/kotlin/com/wisnia/videooo/data/account/Avatar.kt
  core/src/main/kotlin/com/wisnia/videooo/data/account/Gravatar.kt
  core/src/main/kotlin/com/wisnia/videooo/data/authentication/GuestSession.kt
  core/src/main/kotlin/com/wisnia/videooo/data/authentication/Session.kt
  core/src/main/kotlin/com/wisnia/videooo/data/authentication/Token.kt
  core/src/main/kotlin/com/wisnia/videooo/network/data/Timeout.kt
  core/src/main/kotlin/com/wisnia/videooo/repository/account/AccountDetailsRepository.kt
  core/src/main/kotlin/com/wisnia/videooo/repository/authentication/SessionRepository.kt
  core/src/main/kotlin/com/wisnia/videooo/repository/authentication/TokenRepository.kt
Due: app, core

Improve Jacoco files exclude
  app/src/main/kotlin/com/wisnia/videooo/dependency/modules/HttpModule.kt
  app/src/main/kotlin/com/wisnia/videooo/network/interceptor/ApiKeyInterceptor.kt
  app/src/main/kotlin/com/wisnia/videooo/network/interceptor/data/Interceptors.kt
  jacoco.gradle
Due: app

Improve ApiKeyInterceptor tests + update gradle plugins
  app/src/test/kotlin/com/wisnia/videooo/network/interceptor/ApiKeyInterceptorTest.kt
  build.gradle
  core/src/main/kotlin/com/wisnia/videooo/network/HttpServiceProvider.kt
Due: app, core

Add SplashScreen
  app/src/main/AndroidManifest.xml
  app/src/main/kotlin/com/wisnia/videooo/VideoooApplication.kt
  app/src/main/kotlin/com/wisnia/videooo/ui/activity/SplashScreenActivity.kt
  app/src/main/res/drawable/background_splash_screen.xml
  app/src/main/res/drawable/ic_movie_filter.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/styles.xml
  app/src/main/res/values/themes.xml
Due: app

Update project dependencies/libraries
  app/src/test/kotlin/com/wisnia/videooo/network/interceptor/ApiKeyInterceptorTest.kt
  build.gradle
Due: app

update README file
  README.md
Due: none

Add Login screen.
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/assets/fonts/BorisBlackBloxx.ttf
  app/src/main/kotlin/com/wisnia/videooo/ui/activity/LoginActivity.kt
  app/src/main/kotlin/com/wisnia/videooo/ui/activity/SplashScreenActivity.kt
  app/src/main/kotlin/com/wisnia/videooo/view/FontTextView.kt
  app/src/main/res/drawable-land/ic_movie_filter.xml
  app/src/main/res/drawable-large/ic_movie_filter.xml
  app/src/main/res/drawable/background_splash_screen.xml
  app/src/main/res/drawable/ic_key.xml
  app/src/main/res/drawable/ic_person.xml
  app/src/main/res/layout-land/layout_login_form.xml
  app/src/main/res/layout/activity_login.xml
  app/src/main/res/layout/layout_login_form.xml
  app/src/main/res/values-land/dimens.xml
  app/src/main/res/values-large-land/dimens.xml
  app/src/main/res/values-large/dimens.xml
  app/src/main/res/values/attrs.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/dimens.xml
  app/src/main/res/values/strings.xml
  build.gradle
Due: app

Add MVP & DI to SplashScreen
  app/src/main/kotlin/com/wisnia/videooo/dependency/components/SplashScreenComponent.kt
  app/src/main/kotlin/com/wisnia/videooo/ui/PresentationActivity.kt
  app/src/main/kotlin/com/wisnia/videooo/ui/activity/SplashScreenActivity.kt
  app/src/main/res/layout/activity_login.xml
  core/src/main/kotlin/com/wisnia/videooo/mvp/BasePresenter.kt
  core/src/main/kotlin/com/wisnia/videooo/mvp/EmptyPresenter.kt
  core/src/main/kotlin/com/wisnia/videooo/mvp/Presenter.kt
  core/src/main/kotlin/com/wisnia/videooo/presenter/SplashScreenPresenter.kt
  core/src/main/kotlin/com/wisnia/videooo/view/SplashScreenView.kt
Due: app, core

Add SplashScreen presenter & improve MVP implementation
  app/src/main/kotlin/com/wisnia/videooo/ui/PresentationActivity.kt
  app/src/main/kotlin/com/wisnia/videooo/ui/activity/SplashScreenActivity.kt
  core/src/main/kotlin/com/wisnia/videooo/mvp/BasePresenter.kt
  core/src/main/kotlin/com/wisnia/videooo/presenter/SplashScreenPresenter.kt
Due: app, core

Add token http request implementation
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/kotlin/com/wisnia/videooo/VideoooApplication.kt
  app/src/main/kotlin/com/wisnia/videooo/dependency/components/ApplicationComponent.kt
  app/src/main/kotlin/com/wisnia/videooo/dependency/components/LoginComponent.kt
  app/src/main/kotlin/com/wisnia/videooo/dependency/modules/ApplicationModule.kt
  app/src/main/kotlin/com/wisnia/videooo/dependency/modules/HttpModule.kt
  app/src/main/kotlin/com/wisnia/videooo/dependency/modules/RestRepositoryModule.kt
  app/src/main/kotlin/com/wisnia/videooo/dependency/scope/Presenter.kt
  app/src/main/kotlin/com/wisnia/videooo/network/OkHttpClientProvider.kt
  app/src/main/kotlin/com/wisnia/videooo/network/rest/authentication/RestTokenRepository.kt
  app/src/main/kotlin/com/wisnia/videooo/repository/ApiTokenRepository.kt
  app/src/main/kotlin/com/wisnia/videooo/ui/PresentationActivity.kt
  app/src/main/kotlin/com/wisnia/videooo/ui/activity/LoginActivity.kt
  app/src/main/res/layout-land/layout_login_form.xml
  app/src/main/res/layout/activity_login.xml
  app/src/main/res/layout/layout_login_form.xml
  build.gradle
  core/src/main/kotlin/com/wisnia/videooo/mvp/BasePresenter.kt
  core/src/main/kotlin/com/wisnia/videooo/presenter/LoginPresenter.kt
  core/src/main/kotlin/com/wisnia/videooo/presenter/SplashScreenPresenter.kt
  core/src/main/kotlin/com/wisnia/videooo/view/LoginView.kt
Due: app, core

Update Gradle (2.3.3) and Kotlin (1.1.3) plugins
  build.gradle
Due: none

Improve DI modules & components structure
  app/src/main/kotlin/com/wisnia/videooo/dependency/components/ApplicationComponent.kt
  app/src/main/kotlin/com/wisnia/videooo/dependency/components/LoginComponent.kt
  app/src/main/kotlin/com/wisnia/videooo/dependency/modules/ApiRepositoryModule.kt
  app/src/main/kotlin/com/wisnia/videooo/dependency/modules/ApplicationModule.kt
  app/src/main/kotlin/com/wisnia/videooo/dependency/modules/HttpModule.kt
  app/src/main/kotlin/com/wisnia/videooo/network/OkHttpClientProvider.kt
  app/src/main/kotlin/com/wisnia/videooo/ui/activity/LoginActivity.kt
  app/src/main/kotlin/com/wisnia/videooo/ui/activity/SplashScreenActivity.kt
Due: app

Set 'ignoreWarnings' lint option to 'false'
  app/build.gradle
Due: none

Update project dependencies - android support, kotlin, dagger.
  app/src/main/kotlin/com/wisnia/videooo/view/FontTextView.kt
  app/src/main/res/layout-land/layout_login_form.xml
  app/src/main/res/layout/layout_login_form.xml
  app/src/main/res/values/attrs.xml
  build.gradle
Due: app

Update dependency injection to android.dagger.
  app/build.gradle
  app/src/main/kotlin/com/wisnia/videooo/VideoooApplication.kt
  app/src/main/kotlin/com/wisnia/videooo/dependency/components/ApplicationComponent.kt
  app/src/main/kotlin/com/wisnia/videooo/dependency/components/LoginComponent.kt
  app/src/main/kotlin/com/wisnia/videooo/dependency/components/SplashScreenComponent.kt
  app/src/main/kotlin/com/wisnia/videooo/dependency/modules/AndroidBindingModule.kt
  app/src/main/kotlin/com/wisnia/videooo/dependency/modules/ApiRepositoryModule.kt
  app/src/main/kotlin/com/wisnia/videooo/dependency/modules/ApplicationModule.kt
  app/src/main/kotlin/com/wisnia/videooo/dependency/modules/HttpModule.kt
  app/src/main/kotlin/com/wisnia/videooo/ui/PresentationActivity.kt
  app/src/main/kotlin/com/wisnia/videooo/ui/activity/LoginActivity.kt
  app/src/main/kotlin/com/wisnia/videooo/ui/activity/SplashScreenActivity.kt
  core/src/main/kotlin/com/wisnia/videooo/presenter/LoginPresenter.kt
Due: app, core

Improve project package structure
  app/src/main/AndroidManifest.xml
  app/src/main/kotlin/com/wisnia/videooo/authentication/LoginActivity.kt
  app/src/main/kotlin/com/wisnia/videooo/dependency/modules/AndroidBindingModule.kt
  app/src/main/kotlin/com/wisnia/videooo/mvp/PresentationActivity.kt
  app/src/main/kotlin/com/wisnia/videooo/splashscreen/SplashScreenActivity.kt
  core/src/main/kotlin/com/wisnia/videooo/authentication/presentation/LoginPresenter.kt
  core/src/main/kotlin/com/wisnia/videooo/authentication/view/LoginView.kt
  core/src/main/kotlin/com/wisnia/videooo/splashscreen/presentation/SplashScreenPresenter.kt
  core/src/main/kotlin/com/wisnia/videooo/splashscreen/view/SplashScreenView.kt
Due: app, core

Improve authentication process & update dependencies
  .travis.yml
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/kotlin/com/wisnia/videooo/authentication/AuthenticationActivity.kt
  app/src/main/kotlin/com/wisnia/videooo/authentication/AuthenticationWebViewClient.kt
  app/src/main/kotlin/com/wisnia/videooo/authentication/PermissionState.kt
  app/src/main/kotlin/com/wisnia/videooo/dependency/modules/AndroidBindingModule.kt
  app/src/main/kotlin/com/wisnia/videooo/login/LoginActivity.kt
  app/src/main/kotlin/com/wisnia/videooo/network/rest/authentication/RestTokenRepository.kt
  app/src/main/kotlin/com/wisnia/videooo/repository/ApiTokenRepository.kt
  app/src/main/kotlin/com/wisnia/videooo/splashscreen/SplashScreenActivity.kt
  app/src/main/res/drawable/ic_key.xml
  app/src/main/res/drawable/ic_person.xml
  app/src/main/res/layout/activty_auth_permission.xml
  build.gradle
  core/src/main/kotlin/com/wisnia/videooo/data/authentication/Token.kt
  gradle/wrapper/gradle-wrapper.properties
Due: app, core

Update & fix checkstyle errors.
  config/quality/checkstyle/checkstyle.xml
  quality.gradle
Due: none

Fix jacoco reporting
  app/build.gradle
  jacoco.gradle
  quality.gradle
Due: none

Improve authentication process
  app/src/main/kotlin/com/wisnia/videooo/authentication/AuthenticationActivity.kt
  app/src/main/kotlin/com/wisnia/videooo/authentication/AuthenticationWebViewClient.kt
  app/src/main/kotlin/com/wisnia/videooo/authentication/PermissionState.kt
  app/src/test/kotlin/com/wisnia/videooo/network/interceptor/ApiKeyInterceptorTest.kt
  core/src/main/kotlin/com/wisnia/videooo/Example.kt
  core/src/main/kotlin/com/wisnia/videooo/authentication/permission/PermissionInterceptor.kt
  core/src/main/kotlin/com/wisnia/videooo/authentication/permission/PermissionState.kt
  core/src/main/kotlin/com/wisnia/videooo/authentication/permission/PermissionUrl.kt
  core/src/main/kotlin/com/wisnia/videooo/extension/StringExtension.kt
  core/src/test/kotlin/com/wisnia/videooo/ExampleKotlinUnitTest.kt
  core/src/test/kotlin/com/wisnia/videooo/authentication/permission/PermissionInterceptorTest.kt
Due: app, core

Add login requests via website & form
  app/src/main/kotlin/com/wisnia/videooo/authentication/AuthenticationActivity.kt
  app/src/main/kotlin/com/wisnia/videooo/dependency/modules/ApiRepositoryModule.kt
  app/src/main/kotlin/com/wisnia/videooo/extension/TextInputLayoutExtenstion.kt
  app/src/main/kotlin/com/wisnia/videooo/login/LoginActivity.kt
  app/src/main/kotlin/com/wisnia/videooo/network/rest/authentication/RestLoginRepository.kt
  app/src/main/kotlin/com/wisnia/videooo/network/rest/authentication/RestTokenRepository.kt
  app/src/main/kotlin/com/wisnia/videooo/repository/login/HttpLoginRepository.kt
  app/src/main/kotlin/com/wisnia/videooo/repository/login/LoginDataRepository.kt
  app/src/main/kotlin/com/wisnia/videooo/repository/token/HttpTokenRepository.kt
  app/src/main/kotlin/com/wisnia/videooo/repository/token/TokenDataRepository.kt
  app/src/main/res/layout-land/layout_login_form.xml
  app/src/main/res/layout/layout_login_form.xml
  app/src/main/res/values/strings.xml
  core/src/main/kotlin/com/wisnia/videooo/authentication/presentation/LoginPresenter.kt
  core/src/main/kotlin/com/wisnia/videooo/authentication/view/LoginView.kt
  core/src/main/kotlin/com/wisnia/videooo/repository/authentication/LoginRepository.kt
  jacoco.gradle
Due: app, core

Add SplashScreenPresenter tests
  core/src/test/kotlin/com/wisnia/videooo/splashscreen/presentation/SplashScreenPresenterTest.kt
Due: core

Integrate ktlint
  README.md
  app/build.gradle
  app/src/main/kotlin/com/wisnia/videooo/mvp/PresentationActivity.kt
  app/src/test/kotlin/com/wisnia/videooo/network/interceptor/ApiKeyInterceptorTest.kt
  build.gradle
  config/quality/checkstyle/checkstyle.xml
  config/quality/checkstyle/suppressions.xml
  config/quality/lint.xml
  config/quality/pmd.xml
  core/build.gradle
  quality.gradle
  quality/jacoco.gradle
  quality/ktlint.gradle
Due: app

Use the new dependency configurations
  app/build.gradle
  build.gradle
  core/build.gradle
Due: none

Add session and guest implementation
  app/src/main/kotlin/com/wisnia/videooo/authentication/AuthenticationActivity.kt
  app/src/main/kotlin/com/wisnia/videooo/dependency/modules/ApiRepositoryModule.kt
  app/src/main/kotlin/com/wisnia/videooo/dependency/modules/HttpModule.kt
  app/src/main/kotlin/com/wisnia/videooo/login/LoginActivity.kt
  app/src/main/kotlin/com/wisnia/videooo/network/rest/authentication/RestSessionRepository.kt
  app/src/main/kotlin/com/wisnia/videooo/repository/login/LoginDataRepository.kt
  app/src/main/kotlin/com/wisnia/videooo/repository/session/HttpSessionRepository.kt
  app/src/main/kotlin/com/wisnia/videooo/repository/session/SessionDataRepository.kt
  app/src/main/kotlin/com/wisnia/videooo/repository/token/HttpTokenRepository.kt
  core/src/main/kotlin/com/wisnia/videooo/authentication/presentation/LoginPresenter.kt
  core/src/main/kotlin/com/wisnia/videooo/authentication/view/LoginView.kt
  core/src/main/kotlin/com/wisnia/videooo/repository/authentication/LoginRepository.kt
  core/src/main/kotlin/com/wisnia/videooo/repository/authentication/SessionRepository.kt
Due: app, core

Replace FontTextView with font resources
  app/src/main/kotlin/com/wisnia/videooo/view/FontTextView.kt
  app/src/main/res/font/boris_black_bloxx.ttf
  app/src/main/res/layout-land/layout_login_form.xml
  app/src/main/res/layout/layout_login_form.xml
  app/src/main/res/values/attrs.xml
  quality/jacoco.gradle
Due: app

Update jacoco excluded files list
  app/src/main/kotlin/com/wisnia/videooo/extension/TextInputLayoutExtension.kt
  quality/jacoco.gradle
Due: app

Tests for Authentication header interceptor + code cleaning.
  app/src/main/kotlin/com/wisnia/videooo/network/OkHttpClientProvider.kt
  app/src/main/kotlin/com/wisnia/videooo/network/RetrofitServiceProvider.kt
  app/src/main/kotlin/com/wisnia/videooo/network/interceptor/ApiKeyInterceptor.kt
  app/src/main/kotlin/com/wisnia/videooo/repository/token/AuthenticationHeaderInterceptor.kt
  app/src/main/kotlin/com/wisnia/videooo/repository/token/HttpTokenRepository.kt
  app/src/test/kotlin/com/wisnia/videooo/repository/token/AuthenticationHeaderExtractorTest.kt
Due: app

Update dependencies and sdk
  .travis.yml
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Due: none

Update travis.yml licenses
  .travis.yml
Due: none

Path conditions:
  app: any of: app/src/
  core: any of: core/src/
